<div class="SearchLoaiVanBan">
  <div class="LoaiVanBan">
    <div class="input">
      <input type="text" [(ngModel)]="InputLoaiVanBan" (click)="viewSuggestName()" (input)="updateSuggestName()" #min="ngModel" placeholder="Enter Name" required>
      <div *ngIf="isViewOptionLoaiVanBan; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><i class="bi bi-arrow-up" (click)="unviewSuggestName()"></i></ng-template>
      <ng-template #elseBlock><i class="bi bi-arrow-down" (click)="viewSuggestName()"></i></ng-template>
    </div>
    <div class="select" *ngIf="isViewOptionLoaiVanBan">
      <option *ngFor="let LoaiVanBanSuggest of LoaiVanBanSuggestsAfter;" (click)="clickToOption(LoaiVanBanSuggest)" [disabled]="isDisableClick">
        {{LoaiVanBanSuggest}}
      </option>
    </div>
  </div>

  
</div>