<div class="SearchLoaiVanBan">
  <div class="LoaiVanBan">
    <div class="input">
      <input type="text" [(ngModel)]="InputLoaiVanBan" (click)="viewSuggest()" (input)="updateSuggest()" #min="ngModel" placeholder="Loại văn bản" required>
      <i [class]="iconClass" (click)="switchViewSuggest()"></i>
    </div>
    <div class="select" *ngIf="isViewOptionLoaiVanBan">
      <option *ngFor="let LoaiVanBanSuggest of LoaiVanBanSuggestsAfter;" (click)="clickToOption(LoaiVanBanSuggest)" [disabled]="isDisableClick">
        {{LoaiVanBanSuggest}}
      </option>
    </div>
  </div>
</div>